* {
  text-align: center;
}

.images-wrapper {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.random-cat {
  position: relative;
  max-width: 200px;
  height: 200px;
  transition: all ease .2s;
}

.random-cat:hover {
  transform: scale(1.1);
}

.random-cat .random-cat_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.random-cat .random-cat_button {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #ffffff7e;
  transition: all ease .2s;
}

.random-cat .random-cat_button:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: yellow;
}
